* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Exo";
  src: local("Exo"), url(./fonts/Exo2.0-Thin.otf) format("opentype");
}

body {
  font-family: "Exo";
  font-style: normal;
}

.App {
  min-height: 100vh;
  max-width: 100vw;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(151, 151, 151, 0.005),
      rgba(0, 0, 0, 0.5)
    ),
    url(../src/layout/images/pattern.png);
  padding: 0 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
